*{
    font-family: 'Raleway', sans-serif;
}

.navbar-container{
    top: 0;
    display: flex;
    align-items: center;
    padding: .5rem 0;
    width: 100%;
    background-color: #F5F5F5;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.154);
}

.navbar-container img{
    width: 5rem;
}

.navbar-container h3{
    margin: 0;
    font-size: 2.5rem;
    color: #F05454;
}

.hero-container{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.hero-subcontainer{
    width: 100%;
}

.hero-subcontainer img {
    object-fit: cover;
    width: 100%;
}

.hero-container h1{
    font-size: 3em;
    margin: 0 3rem;
}

.hero-container p{

    margin: .5rem 2rem;
    font-size: 1em;

}

.card-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    max-width: 20rem;
}

.card-badge{
    position: absolute ;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem;
    z-index: 1;
    border-radius: 7px;
    background-color: #F5F5F5;
}

.card-overllay{
    position: absolute;
    object-fit: cover;
    width: 320px;
    height: 250px;
    border-radius: 20px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.394);
}

.card-image{
    object-fit: cover;
    height: 250px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 7px 10px rgba(0, 0, 0, 0.079);
}

.card-container h3{
    margin: .5rem 0;
    font-family: 'Montserrat', sans-serif;
}

.card-container p{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    margin: 0;
}

.stars-container{
    margin-top: .6rem;
    padding: .2rem 0;
    display: flex;
    align-items: center;
}

.stars-container img{
    width: 1rem;
}

.stars-container p{
    margin-top: .15rem;
    margin-left: .2rem;
    font-size: .7em;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.cat-experience-container{
    display: flex;
    position: relative;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
}

